<div class="footer">
    <div class="svgs">
        <a href=""><img src="/svg/icons8-x.svg" alt="x.com"></a>
        <a href=""><img src="/svg/youtube-svgrepo-com.svg" alt="youtube"></a>
        <a href=""><img src="/svg/instagram-svgrepo-com.svg" alt="instagram"></a>
    </div>
    <div class="links">
        <p class="sub_text">Links1</p>
        <a href="#">link1</a>
        <a href="#">link2</a>
        <a href="#">link3</a>
        <a href="#">link4</a>
    </div>
    <div class="links">
        <p class="sub_text">Links2</p>
        <a href="#">link1</a>
        <a href="#">link2</a>
        <a href="#">link3</a>
        <a href="#">link4</a>
    </div>
    <div class="links">
        <p class="sub_text">Links3</p>
        <a href="#">link1</a>
        <a href="#">link2</a>
        <a href="#">link3</a>
        <a href="#">link4</a>
    </div>
</div>