<div class="header">
    <div class="logo">
        <a href="/">TableMaster</a>
    </div>
    <div class="navigation">
        <a href="">FAQ</a>
        <a href="">О НАС</a>
        <a href="">Возможности</a>
        <a href="">Контакты</a>
    </div>
    <div class="auth">
        <a href="/auth">Sign In / Sign Up</a>
    </div>
</div>