<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/">TableMaster</a>
        </div>
        <div class="navigation">
            <a href="">FAQ</a>
            <a href="">О НАС</a>
            <a href="">Возможности</a>
            <a href="">Контакты</a>
        </div>
        <div class="auth">
            <a href="/auth">Sign In / Sign Up</a>
        </div>
    </div>
    <div class="container">
        <div class="title">
            <div class="title_text">

            </div>
            <div class="text_for_title">
                Это простая и удобная платформа для 
                комплексного управления задачами, временем и 
                стратегическим развитием. Здесь вы можете вести 
                backlog, планировать расписание и анализировать 
                цели и риски с помощью SWOT-матрицы — всё 
                в одном интерфейсе, без лишней сложности.
            </div>
            <img src="" alt="">
            <a href="">Get started</a>
        </div>
        <div class="images">
            <div class="image">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="image">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="text_for_title">
            Прежде всего это решение, для проектных менеджеров, 
            студентов, преподавателей,который позволяет воплатить 
            простоту и удобство ведения Backlog в одном
        </div>
        <div class="images">
            <div class="image">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="image">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="images">
            <div class="image">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="image">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>  
        <div class="messages">
            <div class="message">
                <div class="stars">
                    <img src="" alt="">
                </div>
                <div class="message_title">
                    Title
                </div>
                <div class="message_sub_title">
                    Title
                </div>
                <div class="profile">
                    <div class="avatar">
                        <img src="" alt="">
                    </div>
                    <div class="human_name">
                        name
                    </div>
                    <div class="date">
                        date
                    </div>
                </div>
            </div>
            <div class="message">
                <div class="stars">
                    <img src="" alt="">
                </div>
                <div class="message_title">
                    Title
                </div>
                <div class="message_sub_title">
                    Title
                </div>
                <div class="profile">
                    <div class="avatar">
                        <img src="" alt="">
                    </div>
                    <div class="human_name">
                        name
                    </div>
                    <div class="date">
                        date
                    </div>
                </div>
            </div>
            <div class="message">
                <div class="stars">
                    <img src="" alt="">
                </div>
                <div class="message_title">
                    Title
                </div>
                <div class="message_sub_title">
                    Title
                </div>
                <div class="profile">
                    <div class="avatar">
                        <img src="" alt="">
                    </div>
                    <div class="human_name">
                        name
                    </div>
                    <div class="date">
                        date
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="svgs">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="links">
            <a href="#">link1</a>
            <a href="#">link2</a>
        </div>
        <div class="links">
            <a href="#">link1</a>
            <a href="#">link2</a>
        </div>
        <div class="links">
            <a href="#">link1</a>
            <a href="#">link2</a>
        </div>
    </div>
</body>
</html>