<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/">TableMaster</a>
        </div>
        <div class="navigation">
            <a href="">FAQ</a>
            <a href="">О НАС</a>
            <a href="">Возможности</a>
            <a href="">Контакты</a>
        </div>
        <div class="auth">
            <a href="/profile">Profile</a>
        </div>
    </div>
    <div class="container">
        <div class="projects">
            <div class="title_menu">
                Список проектов
            </div>
            <div class="project_list">
                ...dynamic
            </div>
        </div>
        <div class="create_project">
            <div class="title_menu">
                Создать проект
            </div>
            <form action="">
                <p class="field"></p>
                <input type="text">
                <p class="field"></p>
                <input type="text">
                <p class="field"></p>
                <input type="radio">
                <button>Create project</button>
            </form>
        </div>
        <div class="cloak">
            ...реализовать часы
        </div>
    </div>
    <div class="footer">
        <div class="svgs">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="links">
            <a href="#">link1</a>
            <a href="#">link2</a>
        </div>
        <div class="links">
            <a href="#">link1</a>
            <a href="#">link2</a>
        </div>
        <div class="links">
            <a href="#">link1</a>
            <a href="#">link2</a>
        </div>
    </div>
</body>
</html>